.contactbutton {
  border-radius:8px;
  background: linear-gradient(white 1%, black 99%);
}
.contacttext {
  margin-top:3px;
  margin-bottom:4px;
  color:white;
  text-shadow: 2px 2px black;
}
}
body {
  min-height:1000px;
  background: linear-gradient(white 1%, orange 99%);
}
.Updatebutton {
  border-radius:8px;
  background: linear-gradient(white 1%, black 99%);
}
.Updatetext {
  margin-top:3px;
  margin-bottom:4px;
  color:white;
  text-shadow: 2px 2px black;
}
.bar {
  display:flex;
  gap:5px;
}
.toptext {
  margin-left: 850px;
}
.description {
  margin-left: 770px;
}